<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Go Back', list_path(params[:list_id]) %>
      </li>
    </ul>
  </div>
</div>
<div class="new_container">
  <div class="new_two_container">
    <div class="title">
      <h1>Add a Movie!</h1>
    </div>
    <div class="form_container">
      <div class="form">
        <%= render 'bookmarks/form' %>
      </div>
    </div>
  </div>
</div>
